<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdcxZFG4m7bxbA4g84VLDP6jd6ZDLmHW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1003190169676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zembo.app</string>
	<key>PROJECT_ID</key>
	<string>zembo-dabc0</string>
	<key>STORAGE_BUCKET</key>
	<string>zembo-dabc0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003190169676:ios:4c8abbfeb10806c16304e9</string>
</dict>
</plist>